gcp_project_id          = "your-project-name"
gcp_credentials_file    = "your-gcpproject-service-credentials-file-path"
gcp_region		= "us-west1"
kafka_privkey           = "~/.ssh/id_rsa"
kafka_pubkey            = "~/.ssh/id_rsa.pub"
source_ext_cidr         = "your-source-public-ip"
cp_ansible_version      = "cp_ansible_version_branch"
